.services {
  padding: 0 16px;
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 146px;
}

.services_title {
  text-align: center;
}

.services_title > h2 {
  font-weight: 600;
  color: #FF64AE;
}

.services_title > h1 {
  font-weight: 600;
  color: #091156;
  font-size: 37px;
  line-height: 45px;
  margin: 15px 0 20px;
}

.services_title > p {
  font-weight: 400;
  color: #8B8B8B;
  line-height: 24px;
  letter-spacing: 1.6px;
}

